#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
/_ReSharper*/
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.sbr
ipch/
obj/
*.swatch*

#Visual Studio
[Bb]uild/
[Bb]in/
[Ll]eak*/
*.sdf
*.opensdf

#Subversion files
.svn
.svn/

#others
*.onetoc2